<div class="transaction-statement">

  <h3>Extrato de Transações</h3>

  <table *ngIf="transactionList">
    <thead>
      <tr>
        <th></th>
        <th>Mercadoria</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactionList">
        <td>{{ transaction.slug }}</td>
        <td>{{ transaction.statement }}</td>
        <td>{{ transaction.price | currency: 'R$ ' }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th>Total</th>
        <th>{{ totalTransactions | currency: 'R$ ' }}</th>
      </tr>
      <tr *ngIf="resultType">
        <td colspan="3">
          <small>{{ resultType }}</small>
        </td>
      </tr>
    </tfoot>
  </table>

</div>
