@import '../shared/css/default';
@import '../shared/css/displays';

main {
  @extend .default-content;
  background-color: rgb(255, 255, 255);
}

@include desktop {
  .transaction-section {
    float: left;
    width: 40%;
  }
}

@include tablet {
  .transaction-section {
    margin-bottom: $default-spacing;
  }
}

@include mobile {
  .transaction-section {
    margin-bottom: $default-spacing;
  }
}
