<header>
  <div class="content">

    <div class="logo">
      <img
        src="../../../assets/images/fc-logo.svg"
        alt="Logo"
        width="48"
        height="48"
      >
    </div>

    <div class="title">
      <span>Controle Financeiro</span>
    </div>

    <div class="menu">
      <span class="icon">
        <a href="javascript:void(0)">
          <img
            src="../../../assets/images/menu-mobile.svg"
            alt="Menu"
            width="24"
            height="24"
          >
        </a>
      </span>

      <div class="btn-group">
        <a
          class="btn"
          href="javascript:void(0)"
        >Dashboard</a>
        <a
          class="btn"
          href="javascript:void(0)"
        >Resumo</a>
        <a
          class="btn"
          href="javascript:void(0)"
        >Configurações</a>
      </div>
    </div>

  </div>
</header>
