<h3>Nova Transação</h3>

<form
  [formGroup]="transactionForm"
  (submit)="addTransaction($event)"
>

  <div class="form-gorup">

    <div class="input-group">
      <label for="transaction-type">Tipo de Transação</label>
      <select
        id="transaction-type"
        formControlName="transactionType"
        required
      >
        <option value="">Selecione</option>
        <option value="{{PURCHASE}}">Compra</option>
        <option value="{{SALE}}">Venda</option>
      </select>
      <vv-field-validation
        [displayError]="isFieldValid('transactionType')"
        errorMessage="Required field"
      ></vv-field-validation>
    </div>

    <div class="input-group">
      <label for="commodity-name">Nome da mercadoria</label>
      <input
        type="text"
        id="commodity-name"
        placeholder="Input"
        formControlName="statement"
        required
      >
      <vv-field-validation
        [displayError]="isFieldValid('statement')"
        errorMessage="Required field"
      ></vv-field-validation>
    </div>

    <div class="input-group">
      <label for="commodity-value">Valor</label>
      <input
        type="text"
        id="commodity-value"
        placeholder="R$ 0,00"
        formControlName="price"
        required
        currencyMask
      >
      <vv-field-validation
        [displayError]="isFieldValid('price')"
        errorMessage="Required field"
      ></vv-field-validation>
    </div>

  </div>

  <p><button type="submit">Adicionar transação</button></p>

</form>
