<h3>Nova Transação</h3>

<form
  [formGroup]="transactionForm"
  (submit)="addTransaction()"
>

  <div class="form-gorup">

    <div class="input-group">
      <label for="transaction-type">Tipo de Transação</label>
      <select
        id="transaction-type"
        formControlName="transactionType"
        required
      >
        <option value="">Selecione</option>
        <option value="Compra">Compra</option>
        <option value="Venda">Venda</option>
      </select>
      <small
        class="error-msg"
        *ngIf="transactionForm.get('transactionType').errors?.required"
      >Required Field</small>
    </div>

    <div class="input-group">
      <label for="commodity-name">Nome da mercadoria</label>
      <input
        type="text"
        id="commodity-name"
        placeholder="Input"
        formControlName="statement"
        required
      >
      <small
        class="error-msg"
        *ngIf="transactionForm.get('statement').errors?.required"
      >Required Field</small>
    </div>

    <div class="input-group">
      <label for="commodity-value">Valor</label>
      <input
        type="text"
        id="commodity-value"
        placeholder="R$ 0,00"
        formControlName="price"
        required
      >
      <small
        class="error-msg"
        *ngIf="transactionForm.get('price').errors?.required"
      >Required Field</small>
    </div>

  </div>

  <p><button type="submit">Adicionar transação</button></p>

</form>
